
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <title>Landing Page Design Using HTML & CSS</title>
  </head>
  <body>
    <div class="background_img-1">
      <div class="header">
        <a href="/dashboarddriver"
          ><img src="css/images/Cab-Sharing.svg" alt="" class="logo"
        /></a>
        <nav>
          <ul>
            <li><a href="">Journeyaccepted</a></li>
            <li><a href="">Driverdetail</a></li>
          </ul>
        </nav>
        <a href="/profiledriver"><button class="btn" id="btn2">Profile</button></a>
        <a href="/logout"><button class="btn" id="btn1">Log out</button></a>
      </div>
    </div>
  </body>
</html>
