<h3><%=user.name%> is sending request to the <%=reciver%></h3>
<h3>We can fetch data of <%=reciver%> and update them in the backend</h3>
<h3>Request page about to show the requests that have been recived till now</h3>
