<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <title>Landing Page Design Using HTML & CSS</title>
  </head>
  <body>
    <div class="background_img">
      <div class="header">
        <a href="/"
          ><img src="css/images/Cab-Sharing.svg" alt="" class="logo"
        /></a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
        <a href="/login"><button class="btn" id="btn1">Log In</button></a>
        <a href="/register"><button class="btn" id="btn2">Sign Up</button></a>
      </div>

      <% if (isPost == true) { %>
      <div class="post-container">
        <% if(data.length != 0) {%>
        <h3>Result based upon your search :</h3>
        <% } %>
        <ul id="matched-list">
          <% var i = 0; for( i = 0; i < data.length; i++) {%>
          <li>
            <%= data[i].posted_by%>
            <form class="request-form" action="/update" method="POST">
              <input
                name="journeyID"
                type="hidden"
                value="<%=data[i]._id%>"
              />
              <input type="hidden" name="journeyList" value="<%=JSON.stringify(data)%>">
              <button class="btn" type="submit">Request</button>
            </form>
          </li>
          <%} if(i == 0){%>
          <h3>Sorry we haven't found any user!</h3>
          <h3>Kindly fill the <a href="/travelform">Travel Form</a>.</h3>
          <h3>We will update you!</h3>
          <%}%>
        </ul>
      </div>
      <%}%> <% if(isPost ==false){%>
      <div class="container">
        <form action="/search" method="POST" class="search-bar">
          <input type="text" placeholder="origin" name="origin" />
          <input type="text" placeholder="Destination" name="destination" />
          <input type="date" name="date" />
          <button type="submit">
            <img class="search-logo" src="css/images/search.jpg" alt="" />
          </button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
